body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
}

.a-navbar:hover {
    color: #D1AC4D;
    text-decoration: underline;
    transition: 0.3s;
}