body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
}

.a-navbar:hover {
    color: #D1AC4D;
    text-decoration: underline;
    transition: 0.3s;
}

  .marquee {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .marquee-content {
    display: flex;
    width: max-content;
    animation: scroll 18s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-50%));
    }
  }